.testimonials {
  position: relative;
  padding: 34px;
  display: grid;
  gap: 48px;
  align-content: center;
  h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 12px 0 0 0;
  }
  p {
    margin: 4px 0 0 0;
  }
}